server:
  port: 8087

spring:
  application:
    name: room-service
  cloud:
    config:
      enabled: false


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka
  instance:
    prefer-ip-address: true
