server:
  port: 8087

spring:
  application:
    name: room-service

  datasource:
    url: jdbc:mysql://34.47.195.124:3306/hotel_db
    username: root
    password: Sunil@123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:8761/eureka
  instance:
    prefer-ip-address: true
