.room-panel {
  padding: 2rem;
  /* max-width: 100%;
  box-sizing: border-box; */
}

.room-search {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.room-search input,
.room-search select {
  padding: 0.5rem;
  flex: 1;
}

.room-search button {
  padding: 0.5rem 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.room-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.room-form input,
.room-form select {
  padding: 0.5rem;
  flex: 1;
}

.room-form button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.room-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;

}

.room-card {
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 6px;

}

@media (min-width: 1200px) {
  .room-list {
    grid-template-columns: repeat(3, 1fr);
  }
}